
<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <%- include('../root/root_header') %>
  <body>
    
    <%- include('app_navbar') %>

    <div class="landingpage">
      <main>
        <div class="hero">
          <h1> LANDING PAGE </h1>
          <h1> <%= number %> </h1>
        </div>
      </main>
    </div>

    <%- include('app_footer') %>

    <%- include('../root/root_body') %>
  </body>
</html>